    


/* *********************** Custom Properties ************************** */

:root{
    --first-color: #6A280F;
    --first-alpha-color: rgba(106, 40, 15, 0.75);
    --second-color: #EDD9C4;
    --second-alpha-color: rgb(237, 217, 196,0.75);
    --third-color: #576751;
    --third-alpha-color: rgba(87, 103, 81, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color:#ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #6EA8FE;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);

    /*tipografia -> importar de google Fonts*/
    --font: "Raleway", sans-serif;
    --header-height: 4rem;
    --max-width: 1200px;
}
/* *********************** Reset ************************** */
html{
    /*modelo de caja: vamos hacer que el tamaño de la caja empieze desde el borde
     y no desde el contenido como es por default por que si lo dejamos desde
     el contenido corremos el riesgo de que cuando asignamos paddings o borders
     pues los tamaños no correspondan*/
    box-sizing: border-box;
    font-family: var(--font); /*definimos la familia de fuente*/
    font-size: 16px; /*tamaño de letra del html explicitamente, ¿Por que?  
    por que como voy a estar utilizando la unidad de medida REM (rem es basado
    en el tamaño de la tipografia de la etiqueta html*/

    /*para la transicion*/
    scroll-behavior: smooth;
}




/*con el selector universal todo los elementos su contenido generado dinamicamente
    con after y before que hereden el tamaño de caja y ¿de quien van a heredar
    el tamaño de caja? del nodo principal que es la etiqueta html
*/
*,
*::after,
*::before{
    box-sizing: inherit; /*hereda*/
}
/*por defecto trae 8 pixeles de margin*/
body{
    margin: 0;
    overflow-x: hidden; /*oculta todo lo que desborda en el eje x (horizontal) oculta la barra de desplazamiento*/
    color: var(--text-color);
}

/*Estilo a los links*/
a{
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

/*para quitar cuadro azul al hacer clic en icono o imagen tipo boton*/
/* (*) atributo css que aplica a todo*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a:hover{
    opacity: 0.75;
}

/*todo los encabezados tienen un poco de margen ariba y abajo dependiendo
    del nivel de encabezado van variando los márgenes, lo que me gusta es
    resetar el margen de los encabezados a 0 y ya yo darle la distancia
    adecuada
*/

h6, h5, h4, h3, h2, h1{
    margin: 0;
}

/*la función calc() para calcular el tamaño de la fuente de manera dinámica.*/
/*h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}
  
h3 {
    font-size: 1.25rem;
}
  
h4 {
    font-size: 1rem;
}
  
h5 {
    font-size: 0.85rem;
}
  
h6 {
    font-size: 0.7rem;
}*/

/*De bootstrap */
h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2rem;
    }
  }
  
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem;
    }
  }
  
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h4 {
      font-size: 1.5rem;
    }
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  



/*Imagenes Responsivas HACK*/
img{
    max-width: 100%;
    height: auto;
    border: none; /*Mudford*/
    display: block;/*mudford -  elimina esapcios*/
}
/*Estilo a los párrafos*/
p{
    line-height: 1.6rem;
}

/* p {
    margin-top: 0;
    margin-bottom: 1rem;
  } */

/* ************************ -Componentes- *************************** */


/* Botones */
.btn{
  border-radius: 0.5rem;
  padding: 1rem;
  /*los enlaces trabajan en linea pero quiero que tenga caracteristicas de linea y bloque*/
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.btn-small{
  border-radius: 0.5rem;
  padding: 0.5rem;
  /*los enlaces trabajan en linea pero quiero que tenga caracteristicas de linea y bloque*/
  display: inline-block;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

/* *card */

.card{
  width: 18rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  /* background-image: linear-gradient(to right, rgb(96, 56, 19), rgb(178, 159, 148)); */
  background-color: var(--white-color);
}
.card-container{
  padding: 1rem;
}
.cards-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* ***** Contact Form ***** */

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
  background-color: var(--white-color);
}
/*oye, todo los elementos que son hijos directos de contact form sin 
importar que tipo de etiqueta o selector es, le vas a aplicar lo siguiente
*/
.contact-form > *{
  padding: 0.5rem;
  margin: 1rem auto;/*arriba y abajo, automático a los lados*/
  display: block;
  width: 100%; /*le damos el 100% de su contenedor*/
}

/*todo los imputs que están dentro del contact form y toda las text-areas
que estén dentro del contar-form aplicales:*/

.contact-form input,
.contact-form textarea{
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input{
  border: 0;/*quitamos todo los bordes*/
  padding-left: 0; /*esto es para que el texto se alinea al borde asé está en figma*/
  border-bottom: thin solid var(--first-color);

}

.contact-form textarea {
  border: thin solid var(--first-color);
  resize: none; /*para desaparecer el triangulito*/
}

/*el boton SUBMIT- Enviar*/
.contact-form input[type="submit"]{
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

/*btn Es el nombre de los botones en bootstrap y hay incompatibilidad Con BTN de nuestros estilos propios*/
  border-radius: 0.5rem;
  padding: 1rem;
  /*los enlaces trabajan en linea pero quiero que tenga caracteristicas de linea y bloque*/
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
.contact-form input[type="submit"]:hover{
  opacity: 0.75;
}

/*dentro de contact-form a todo los elementos hijos pero que tengan
la pseudoclase Placeholder ponele:*/
.contact-form *::placeholder{
  color: var(--gray-dark-color);
}

.contact-form-response{
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}
/*rellenamos el svg*/
.contact-form-response svg{
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

/*El elmento que tenga la clase modal y que enta el Id = gracias 
cuando sea target de la página aplicale:*/
.modal#gracias:target{
  opacity: 1;
  pointer-events: auto;
}




/**** Modal ****/

.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content{
  position: relative;
}

.modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg{
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}







/* ***** HeroImage ***** */
.hero-image{
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity{
  width: 100%;
  min-height: 100vh;
  display: flex; /*es como si fuerra fiero aldente, puedes dar la forma que tu quieras*/
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-content{
  padding:1rem;
}

.hero-image-title{
  color:var(--hero-text-color);
}




/******** -Menú- ********/

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/*¿Cuando precionemos el menú, esta clase lo vamos a activar con JS?*/
.menu.is-active{ /*debe ir junto*/
  opacity: 1;
  pointer-events: auto;
}

.menu a{
  padding: 1rem; /*pading de 1 rem a los 4 lados*/
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

/*en el estado hover invertimos los colores*/
.menu a:hover{
  color: var(--white-color);
  background-color: var(--first-color);
}

.menu-btn{
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
  display: flex;/*con esto centramos el icono*/
  align-items: center;

  width: 2rem;/*tamaño gemelo 1*/
  height: 2rem; /*tamaño gemelo 2*/
  /* vertical-align: middle; */

  
}

.menu-btn svg{
  fill: var(--first-color); /*aplicamos relleno a los svg's*/
  width: 2rem; /*tamaño gemelo 1*/
  height: 2rem; /*tamaño gemelo 2*/
}


.section-title{
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto; /*Con esto se centra y los margenes laterales se adaptan segun el espacio sobrante*/
  padding: 0.5rem 1rem; /*nos sirve para separar el texto de los bordes de la caja*/
  width: 280px;
  text-align: center;
  color: var(--title-color);
}

.Subtitle{
  /* border-bottom: medium solid var(--first-color); */
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--first-color);
}


@media screen and (min-width: 64rem){ /*respeta espacios entre el AND*/
  .menu-btn{
      display: none;
  }
  .menu{
      position: static;
      opacity: 1;
      width: auto;
      flex-direction: row;
      pointer-events: auto;
  }
  .menu a{
      padding: 0 1rem; /*solo costados*/
  }
  .menu a:last-child{
      padding-right: 0; /*por que el header ya tiene un pading*/
  }
  .menu a:hover{
      background-color: transparent; /*solo las letras cambian de color y no el fondo*/
  }
}





/* ************************ -Utilities- ⚪⚪⚪⚪*************************** */

/*Si no podemos nos guiamos de botstrap*/

/*Sombra para cajas*/
.box-shadow-1{
    /* box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25); */
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}



/*contenedor*/
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none{
  display: none;
}

.section{
  padding: 2rem 1rem;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/*para aplicar espaciados como en bootstrap*/


/*margin Top*/
.mt-0 {
  margin-top: 0  ;
}

.mt-1 {
  margin-top: 0.25rem  ;
}

.mt-2 {
  margin-top: 0.5rem  ;
}

.mt-3 {
  margin-top: 1rem  ;
}

.mt-4 {
  margin-top: 1.5rem  ;
}

.mt-5 {
  margin-top: 3rem  ;
}

.mt-auto {
  margin-top: auto  ;
}

/*margin bottom*/
.mb-0 {
  margin-bottom: 0  ;
}

.mb-1 {
  margin-bottom: 0.25rem  ;
}

.mb-2 {
  margin-bottom: 0.5rem  ;
}

.mb-3 {
  margin-bottom: 1rem  ;
}

.mb-4 {
  margin-bottom: 2rem  ; /*lo cambie a 2 rem*/
}

.mb-5 {
  margin-bottom: 3rem  ;
}

.mb-auto {
  margin-bottom: auto  ;
}
/*aplica margen a los 4 lados*/

.m-0 {
  margin: 0  ;
}

.m-1 {
  margin: 0.25rem  ;
}

.m-2 {
  margin: 0.5rem  ;
}

.m-3 {
  margin: 1rem  ;
}

.m-4 {
  margin: 1.5rem  ;
}

.m-5 {
  margin: 3rem  ;
}

.m-auto {
  margin: auto  ;
}


/*aplica padding a los 4 lados*/

.p-0 {
  padding: 0  ;
}

.p-1 {
  padding: 0.25rem  ;
}

.p-2 {
  padding: 0.5rem  ;
}

.p-3 {
  padding: 1rem  ;
}

.p-4 {
  padding: 1.5rem  ;
}

.p-5 {
  padding: 3rem  ;
}



/*1 em es igual a 16px, 48em = 768. Esto serviria para el tamaño de una Tablet*/  
@media screen and (min-width:48em){
  .full-md-screen{
      width: 100%;
      min-height: 100vh;
  }
}
/*para pc creo una media query 64rem = 1024px (el rem está basado en el Root)*/
@media screen and (min-width:64rem){
  .full-lg-screen{
      width: 100%;
      min-height: 100vh;
  }

  .text-lg-center{
      text-align: center;
  }
  
  .text-lg-left{
      text-align: left;
  }
  
  .text-lg-right{
      text-align: right;
  }
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

/* ************************ -Site Styles- *************************** */

/*  *card acerca*  */
.about-card{
  margin: 1rem auto; /*ariba y a los costado (para que se centre)*/
  padding: 1rem;
  text-align: center;
  background-color: var(--white-color);
}
.about-card svg{
  margin-bottom: 1.25rem; /*margen de abajo*/
  fill: var(--first-color);
}

.bg-color-main{
  background-color: var(--gray-light-color);
}

/*card*/

.card h3{
  border-bottom: medium solid var(--first-color);
  margin: 1rem auto; /*ariba y bajo, Costados*/
  padding: 0.5rem 0;
  color: var(--title-color);
}

.color-list b{
  color:var(--first-color);
}

.color-list ul{
  padding-inline-start: 1rem;
}

.footer{
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--third-color);
}



/* ******** -Cabecera- ******** */

.header{
  position: fixed;
  left: 0;
  bottom: 0;

  z-index: 999;
  padding: 1rem;
  width: 100%; /*ya que perdio sus propiedades de ancho y alto*/
  height: var(--header-height); /*4rems*/
  background-color: var(--second-color);
}

.header> .container{
  height: 2rem; /*le puse altura fija*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo a{
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  line-height: normal;
  text-decoration: none; /*quitamos la linea de enlace*/
}

/* fotos de exhibición*/
.photos-card > img{
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block; /*para que  estén uno debajo del otro*/
  border-radius: 25% 10%; /*lo saque de mozilla mdn*/
}


/*Efecto Zoom  las imágenes*/
.img-card-container{
width: 18rem;
height: 18rem;
display: block; /*la etiqueta es una A y se comporta en linea, yo quiero que se comporte en bloque.*/
overflow: hidden;/*esto para que cuando agrandemos la imagen no se vea sobresalido*/
}

.img-zoom{
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
 /* object-fit: cover; */
  /* cursor: pointer; */
}

.img-zoom:hover{
  transform: scale(1.2);
}

.tamaño-800{
  /* max-width: 800px; */
  max-width: 100vh;
   /* max-height: 100vh; */
}


/* @media screen and (min-width:768px){ */
@media screen and (min-width:48em){

}

@media screen and (min-width:64em){
.header{
  position: sticky;
  top: 0;
  /*al Padding y el Height lo heredas de header mobile*/
}
}
